body{
    background-color: aquamarine;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

#container {
    width: 75%;
    height: 80%;
    background-color: pink;
    display: flex;
    border-radius: 40px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
}

#babu {
    width: 500px;
    height: auto;
    border-radius: 100%;
}

#image-container {
    margin-top: 20px;
    position: absolute;
    z-index: 2;
}

#message-container {
    visibility: hidden;
    margin-top: 150px;
    text-align: center;
    opacity: 0;
}

#message-container p {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-top: 150px;
}